<div class="card">
    <div class="card-body">
        <h1>Información</h1>
        <p class="lead"><i>Desarrollado por: </i><br><b> Jose Duvan Valencia Echeverry</b><br><i>Curso:</i><br><b>Ingeniería Web<br>Universidad de Antioquia</b><br>Marzo 2020</p>
    </div>
</div>