<div class="jumbotron mt-4">
    <h1 class="display-4"><b>NOTAS APP</b></h1>
    <BR>
    <p class="lead">Haga clic en el enlace de abajo para administrar las notas de los estudiantes, o utilice la barra de navegación.</p>
    <hr class="my-4">
    <h3><p><i><a href="/notes">ADMINISTRAR NOTAS</a></i></p></h3>

    <br><br><br>
    <p class="lead"><i>Desarrollado por: </i><br> <b>Jose Duvan Valencia Echeverry</b></p>

</div>